# Dependencies
node_modules/
.venv/
venv/

# Environment secrets
.env
.env.*
!.env.example

# Build files
build/
dist/
out/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
